<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&display=swap" rel="stylesheet">

  </head>
  <body>
    <main>
      <a href="/" id="titulo"><%= title %></a>
      <p id="p_empezar">¡Bienvenido al juego de Tech Trivial! <br> <br> En este juego, se te presentarán 10 preguntas con 4 opciones de respuesta cada una. Tendrás solo 8 segundos para responder cada pregunta. Si no respondes dentro de los 8 segundos, la pregunta pasará automáticamente a la siguiente. Solo una de las opciones es la respuesta correcta. Tu objetivo es responder correctamente el mayor número posible de preguntas antes de que se acabe el tiempo. ¿Estás listo?</p>
      <button id="boton_empezar"><a href="/index">Empezar</a></button>
  </main>
</body>
</html>